.contacts-section {
  background-image: url('../img/contacts-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  .container {
    padding: 60px 0 120px;
  }
}

.contacts {
  max-width: 550px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: $orange;
  color: $white;
  font-size: 20px;
  text-align: center;
  box-shadow: 2px 2px 20px rgb(0 0 0 / 20%);

  .email-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 15px;
  }

  .heading {
    color: $white;
    margin-bottom: 36px;
  }

  &__text {
    max-width: 280px;
    margin-bottom: 36px;
  }

  &__email {
    font-size: 24px;
    letter-spacing: 2px;
    color: $white;
  }

  .socials {
    justify-content: space-evenly;
    padding: 15px;
    border-radius: 0 40px 8px 8px;
    background-color: $white;

    &__item::after,
    &__icon {
      width: 50px;
      height: 50px;
    }
  }
}