* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $inter;
  font-style: normal;
  color: $dark;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}