* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $inter;
  font-style: normal;
  color: $dark;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.socials {
  display: flex;

  &__item {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 40px;
      height: 40px;
      background-color: $orange;
      border-radius: 50%;
      transition: transform 0.25s ease;
    }

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &:hover {
      &::after {
        transform: scale(1.1);
      }
    }
  }

  &__icon {
    display: flex;
    max-width: 40px;
    height: 40px;
  }
}

.heading {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: $orange;

  &_subheading {
    font-size: 36px;
    color: $orange-light;
  }
}